---

name: Test

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'
          cache: 'poetry'

      - run: poetry install --no-interaction

      - run: poetry run ruff check --output-format=github

      - run: poetry run ruff format --diff

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'
          cache: 'poetry'

      - run: poetry install --no-interaction

      - run: poetry run pytest --junitxml=junit/test-results.xml --cov=com --cov-report=xml --cov-report=html

      - uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: ./coverage.xml
          junitxml-path: junit/test-results.xml

      - name: Upload pytest results
        uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: pytest-results
          path: junit/test-results.xml
